*.exe
*.log
*.txt
*.lnk
*.dll
TEMP/*
KSP_Data/*
Screenshots/*
saves/default/Ships/VAB/x *
saves/scenarios/*
saves/training/*
GameData/*.dll
GameData/000_Toolbar/*
GameData/AJE/*
GameData/AIES_Aerospace/*
GameData/blackheart/*
GameData/blizzy/*
GameData/CIT/*
GameData/CameraTools/*
GameData/CrewManifest/*
GameData/CrossFeedEnabler/*
GameData/CustomBiomes/*
GameData/DeadlyReentry/*
GameData/EngineIgnitor/*
GameData/EnhancedNavBall/*
GameData/FerramAerospaceResearch/*
GameData/DistantObject/*
GameData/FASA/*
GameData/Firespitter/*
GameData/Fusebox/*
GameData/KerbalJointReinforcement/*
GameData/KerbalStockLauncherOverhaul/*
GameData/HGR/*
GameData/History/Flags/*
GameData/HullCameraVDS/*
GameData/JSI/*
GameData/KerbCam/*
GameData/KerbalIspDifficultyScaler/*
GameData/KerbalTek/*
GameData/KWRocketry/*
GameData/MechJeb2/*
GameData/MP_Nazari/*
GameData/MEPS/*
GameData/MagicSmokeIndustries/*
GameData/ModuleRCSFX/*
GameData/NASAmission/*
GameData/NavyFish/*
GameData/PartHighlighter/*
GameData/PlanetShine/*
GameData/ProceduralFairings/*
GameData/ProceduralParts/*
GameData/RCSBuildAid/*
GameData/RcsSounds/*
GameData/RealChute/*
GameData/RealFuels/*
GameData/RealSolarSystem/*
GameData/RealismOverhaul/*
GameData/RemoteTech/*
GameData/ResourceConverter/*
GameData/ResourceOverview_1.0.1.1/*
GameData/RN_R7/*
GameData/RN_Soviet_Probes/*
GameData/sceneJumper/*
GameData/SelectRoot/*
GameData/SimplePartOrganizer/*
GameData/SmokeScreen/*
GameData/StretchyTanks/*
GameData/SurfaceLights/*
GameData/Squad/*
GameData/TacFuelBalancer/*
GameData/Tantares/*
GameData/TextureReplacer/*
GameData/ThunderAerospace/*
GameData/ToadicusTools/*
GameData/Trajectories/*
GameData/TriggerTech/*
GameData/TweakScale/*
GameData/TweakableEverything/*
GameData/UbioWeldingLtd/*
GameData/UmbraSpaceIndustries/*
GameData/UniversalStorage/*
GameData/WheelSounds/*
