*.exe
*.log
*.txt
*.lnk
*.dll
*.png
*.pngcache
*.tcache
TEMP/*
KSP_Data/*
Screenshots/*
saves/default/Ships/VAB/x *
saves/scenarios/*
saves/training/*
RVE/*
AIES_Aerospace/*
GameData/*.dll
GameData/000_Toolbar/*
GameData/AJE/*
GameData/ActivceTexrure/*
GameData/AIES_Aerospace/*
GameData/B9_Aerospace/*
GameData/blackheart/*
GameData/blizzy/*
GameData/BoulderCo/*
GameData/CIT/*
GameData/CameraTools/*
GameData/CrewManifest/*
GameData/CrossFeedEnabler/*
GameData/CustomBiomes/*
GameData/DeadlyReentry/*
GameData/EngineIgnitor/*
GameData/EnhancedNavBall/*
GameData/FerramAerospaceResearch/*
GameData/FreedomTex/*
GameData/DistantObject/*
GameData/FASA/*
GameData/Firespitter/*
GameData/Fusebox/*
GameData/KAS/*
GameData/KerbalJointReinforcement/*
GameData/KerbalStockLauncherOverhaul/*
GameData/KerbalScienceFoundation/*
GameData/HGR/*
GameData/History/Flags/*
GameData/HullCameraVDS/*
GameData/Interstellar/*
GameData/JSI/*
GameData/KerbCam/*
GameData/KerbalIspDifficultyScaler/*
GameData/KerbalTek/*
GameData/Klockheed_Martian_Special/*
GameData/KWRocketry/*
GameData/MechJeb2/*
GameData/MP_Nazari/*
GameData/MEPS/*
GameData/MagicSmokeIndustries/*
GameData/ModuleRCSFX/*
GameData/NASAmission/*
GameData/NearFuturePropulsion/*
GameData/NavyFish/*
GameData/PartHighlighter/*
GameData/PlanetShine/*
GameData/ProceduralDynamics/*
GameData/ProceduralFairings/*
GameData/ProceduralParts/*
GameData/RCSBuildAid/*
GameData/RcsSounds/*
GameData/RealChute/*
GameData/RealFuels/*
GameData/RealSolarSystem/*
GameData/RealismOverhaul/*
GameData/RemoteTech/*
GameData/ResourceConverter/*
GameData/ResourceOverview_1.0.1.1/*
GameData/RN_R7/*
GameData/RN_Salyut/*
GameData/RN_Soyuz/*
GameData/RN_Soviet_Probes/*
GameData/RN_US_Probes/*
GameData/RSSTextures/*
GameData/sceneJumper/*
GameData/SDHI/*
GameData/SelectRoot/*
GameData/SimplePartOrganizer/*
GameData/SmokeScreen/*
GameData/StretchyTanks/*
GameData/SurfaceLights/*
GameData/Squad/*
GameData/SpaceFactory/*
GameData/TacFuelBalancer/*
GameData/Tantares/*
GameData/TextureReplacer/*
GameData/ThunderAerospace/*
GameData/ToadicusTools/*
GameData/Trajectories/*
GameData/TriggerTech/*
GameData/TweakScale/*
GameData/TweakableEverything/*
GameData/UbioWeldingLtd/*
GameData/UmbraSpaceIndustries/*
GameData/UniversalStorage/*
GameData/VNG/*
GameData/WheelSounds/*
